extends base

block content
    main.main
        .login-form
            h2.heading-secondary.ma-bt-lg Resetting your account password
            form.form.form--login3
                .form__group.ma-bt-md
                    label.form__label(for='password') Password
                    input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')

                    label.form__label(for='password') Password Confirm
                    input#passwordconfirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
                    input#resetToken.form__input(type='hidden', value=`${usr}`)
                .form__group
                    button.btn.btn--green Reset